.container {
  max-width: 520px;
  margin: 30px auto;
  padding-right: 137px;
}

.dropdown .btn,
.dropdown-menu {
  width: 100%;
  text-align: center;
}

.total-amount {
  margin: 30px 8px 50px;
  position: relative
}

.total-number {
  position: absolute;
  top: 12px;
  right: 0px;
  font-size: 5vh;
  color: rgb(165, 0, 0)
}

.record {
  position: relative
}

.record:nth-child(even) {
  background: #EEE
}

.edit {
  position: absolute;
  right: -71px
}

.delete {
  position: absolute;
  right: -127px
}

.create {
  margin: 30px 15%;
}

.form-container {
  margin: 30px auto;
}

.row {
  margin-bottom: 20px;
}

.form-control,
.form-select {
  min-width: 201px;
}

.form-hint {
  margin-right: 18px;
  font-size: 1vh;
  line-height: 4vh
}

.form-title {
  min-width: 201px;
  font-size: 2.5vh;
  text-align: center
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
}

.card-body {
  max-width: 520px;
  margin: auto;
}